#
# The deploy.cfg file is located in the module top dir is a necessary file
# needed for deployments. This file contains config variables, such as 
# mongodb-host, mysqldb-host. Standard variable names are listed on the trac
# wiki at https://trac.kbase.us/projects/kbase/wiki/DeployCfgStandards
#
# The variables in the deploy.cfg file will get "injected" into the module
# makefile. In short, the variable is uppercased and dashes become underscores,
# so mongodb-host in the deploy.cfg file becomes MONGODB_HOST in the module
# makefile when the module makefile is invoked by the system make file at the
# top level of the dev container.
#
#
#
# Deployment configuration for the prom_service module
#

[prom_service]

#### expected prod urls
erdb=http://kbase.us/services/erdb_service/
workspace=http://kbase.us/services/workspace_service
fba=http://kbase.us/services/fba_model_services
idserver=http://kbase.us/services/idserver
regulation=http://kbase.us/services/k_base_reg_precise/KBaseRegPreciseRPC/regprecise

#### dev urls
#erdb=http://localhost:7099
#workspace=http://bio-data-1.mcs.anl.gov/services/fba_gapfill
#fba=http://bio-data-1.mcs.anl.gov/services/fbaServices
#idserver=http://kbase.us/services/idserver
#regulation=http://10.0.16.112:7059/KBaseRegPreciseRPC/regprecise
#regulation=http://140.221.84.214:7059/KBaseRegPreciseRPC/regprecise



